# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.tox/
.coverage
.pytest_cache/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
app.db # Specific to this project

# Excel files
*.xls
*.xlsx

# Logs
*.log
